@main("Instructions") {
<!--header-->
<style>
    div#description{
            padding-left: 5%;
        }
</style>
}{
<!--body-->
<div id="description">
    <h5>Instructions:</h5>
    1. Choose period of dates with start date and end date.
    </br>
    2. Choose the day to be calculated in the chosen period.
    </br>
    3. Choose range of hours to by calculated with start time and end time.
    </br>
    4. Choose the area to be calculated by clicking on 2 points on the map. The selected points will be described in first coordinate and second coordinate.
    </br>

    5. Enter the minimum number of passengers for turning a lane to public.
    Passengers count visualization description
    </br>
    </br>
    </br>

</div>

}