@main("Instructions") {
<!--header-->
<style>
    div#description{
            padding-left: 25%;
            padding-right: 25%;

        }
</style>
}{
<!--body-->
<div align="center">
    <h3>Instructions For Calculating Data</h3>
</div>
</br>
</br>
<div id="description" align="center">
<p>
    <h4>General Parameters</h4>
    </br>

    <b>Start\End Date</b>
    </br>
    The data will be calculated from start date till end date
    </br>
    </br>


    <b>Day</b>
    </br>
    The data will be calculated from start date till end date only in the chosen day
    </br>
    Choose "All" to calculate all dates between atart date and end date
    </br>
    </br>

    <b>Start\End Hour</b>
    </br>
    The data will be calculated from start hour till end hour in the selected dates.
    </br>
    </br>

    <b>Coordinates</b>
    </br>
    Choose 2 markers on the map
    The data will be calculated as a square between the 2 markers
    </br>
    </br>
    </br>

    <h4>Passengers Count Parameters</h4>
    </br>

    <b>Minimum Passengers For Public Lane</b>
    </br>
    Insert the minimum number of passengers for turning a lane to public
    </br>
    </br>

</p>
</div>
}