@(form : Form[PassengersCountForm])

<!--TODO change hour to select-->
<!--TODO add multiple dates selection-->
@calculateDataLayout("Passengers Count"){
<h4>Passengers count visualization description</h4>
}{
@helper.form(action = routes.VisualizationController.calculatePassengersCount()){
    @helper.select(form("day"), options=Seq(
        ("Sunday","Sunday"),
        ("Monday","Monday"),
        ("Tuesday","Tuesday"),
        ("Wednesday","Wednesday"),
        ("Thursday","Thursday"),
        ("Friday","Friday"),
        ("Saturday","Saturday")),'_label -> "Day")
    @helper.inputText(form("startTime"), '_label -> "Start Time")
    @helper.inputText(form("endTime"), '_label -> "End Time")
    @helper.inputText(form("minPassengersForPublicLane"), '_label -> "Min Passengers For Public Lane")

    <input type="submit" value="Calculate">
}


}