<link rel="stylesheet" href="@routes.Assets.versioned("outsiders/bootstrap-4.2.1-dist/css/bootstrap.min.css")"  crossorigin="anonymous">
<script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("outsiders/jquery-3.3.1.slim.min.js")"></script>
<script src="@routes.Assets.versioned("outsiders/bootstrap-4.2.1-dist/js/bootstrap.min.js")" crossorigin="anonymous"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
