@(title: String)(description: Html)(parameters: Html)

@main(title){
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    @imports.mapbox()
    <style>
        #map { position:absolute; width:67%; height: 78%}

        .grid-container {
            display: grid;
            grid-column-gap: 10%;
            grid-template-columns: auto auto auto;
            /*background-color: #2196F3;*/
            padding: 10px;
        }

        /*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout#Grid_lines*/
        .map {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 4;
            padding-left: 20%;
        }
        .parameters {
            grid-column-start: 5;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 4;
            padding-right: 20%;
            padding-left: 5%;

        }



        .same-row {
            display: inline-block;
        }



     </style>
    <script>
    function showDiv() {
      document.getElementById('loadingGif').style.display = "block";
      setTimeout(function() {
        document.getElementById('loadingGif').style.display = "none";
        document.getElementById('showme').style.display = "block";
      },120000);

    }

</script>
}{
    </br>
    <div align="center">
        <h3>@title Visualization</h3>
    </div>
    </br>
    <div class="grid-container">
        <div class="map"> <div id='map'><!--<pre id='info'></pre>--></div></div>
        <div class="parameters">
            @parameters
            <div id="showme" style="display:none;"></div>
            <div id="loadingGif" style="display:none; size:1px;"  ><img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" height="110" width="110"></div>
        </div>
    </div>
    @calculateMap()

}



