<!--TODO receive stations from server-->
<!--TODO print stations id???-->
<script type="text/javascript" src="@routes.Assets.versioned("demo-data/DemoData.js")"></script>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWh1dmlsIiwiYSI6ImNqcHdjdmN1bDA1bjY0OXVqb2pucWo5b2oifQ.DlCUMxPJ6c3TD2eLq3OCEQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [34.798256,31.260114],
        zoom: 13,
        trackResize: true
    });

    map.on('load', function(){
        addStations();
    });
    //add all stations to map
    function addStations() {
        map.addLayer({
            "id": "stationsLayer",
            "type": "symbol",
            "source": {
                "type": "geojson",
                "data": stations
            },
            "layout": {
                "icon-image": "bus-15",
            }
        })
    };

    //handle selection of area
    map.on('click',function(e){
        var coordinates = [e.lngLat.lng,e.lngLat.lat];
        if(!addCoordinate(coordinates,"coor1") && !addCoordinate(coordinates,"coor2"))
            alert("You have already choose 2 points");
    });

    function addCoordinate(coordinates,label){
        if(document.getElementById(label).value==""){
            document.getElementById(label).value = coordinates;
            var marker = new mapboxgl.Marker()
                .setLngLat(coordinates)
                .addTo(map);
            return true;
        }
        else{
            return false;
        }
    }

    function addNewLayerWithSelectedPoint(coordinates){
        map.addLayer({
            "id": "point"+points.length,
            "type": "symbol",
            "source": {
                "type": "geojson",
                "data": {
                    "type": "FeatureCollection",
                    "features": [{
                        "type": "Feature",
                        "geometry": {
                            "type": "Point",
                            "coordinates":coordinates
                        }
                    }]
                }
            },
            "layout": {
                "icon-image": "monument",
                "icon-size": 0.25
            }
        });
    }

    function addPopupOfSelectesPoint(coordinates){
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        new mapboxgl.Popup()
            .setLngLat(coordinates)
            .setHTML(description)
            .addTo(map);
    }

    </script>