@(form : Form[DevSchedForm])

@visualizations.layouts.calculateDataLayout("Dev sched"){
    Deviation in schedule visualization description
    <!--<style>-->
         <!--#map { position:relative; width:90%; height: 130%}-->
    <!--</style>-->
}{
    @helper.form(action = routes.VisualizationController.calculateDevSched()){
        @visualizations.parameters.visualizationFormParameters(form.asInstanceOf[play.data.Form[models.VisualizationForm]])

    <input type="submit" value="Calculate" id="submit"  onclick="showDiv()">
    <button type="button" onclick="removeCoordinates()">Clear coordinates</button>

}
}