@(form : Form[DevSchedForm])

@visualizations.layouts.calculateDataLayout("Dev sched"){
<!--description-->
}{
    @helper.form(action = routes.VisualizationController.calculateDevSched()){
        @visualizations.parameters.visualizationFormParameters(form.asInstanceOf[play.data.Form[models.VisualizationForm]])

    <input type="submit" value="Calculate" id="submit"  onclick="showDiv()">
    <div id="showme"  style="display:none;"></div>
    <div id="loadingGif" style="display:none; size:1px;"><img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" height="120" width="120"></div>
    }
}