@(stations: String)

@main("Fast Lane") {
}{

<!-- Header -->
  <br></br>
<h1 align="center" style="color:#404040;"	><b>Welcome to Fast Lane!</b>
    <span align="right"><i class="fa fa-bus" style="font-size:50px;" ></i></span></h1>
<h2 align="center" style="color:#404040;"><b>Visualizing MOT Data</b></h2>
<p style="text-align:center; font-size:50px;"><img src="@routes.Assets.versioned("images/main.jpg")" ></p>
<script type="text/javascript">
    localStorage.setItem('stations','@stations');
</script>
}
